<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4-eSKBk0u0_cSysSQRry7Q327eRoGqjk</string>
	<key>GCM_SENDER_ID</key>
	<string>281313438040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FirebaseTesting</string>
	<key>PROJECT_ID</key>
	<string>fir-testing-eb5a8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-testing-eb5a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281313438040:ios:1d326902a0942bc658dd2d</string>
</dict>
</plist>